.price{
    width: 1000px;
    margin-bottom: 0.4rem;
   margin: 15px auto ;
   transition: color 1.0s ease;
   background: linear-gradient(to right, #3ddfb7, #a4f2de); 
   padding: 1px;
font-size: 15px;
    font-weight: 500;
    color: #fff;
}