.price{
    width: 1000px;
    margin-bottom: 0.4rem;
   margin: 15px auto ;

    background: linear-gradient(180deg,#2ecc71,#1abc9c);
   padding: 1px;
font-size: 15px;
    font-weight: 500;
    color: #fff;
}