.recipe-container{
    width: 1000px;
    background-color: white;
    margin: auto;
}
.recipe-box {
    width: 400px;
    margin: auto;
    font-size: 18px;
    display: flex;
 
    
    justify-content: space-between;
   
    color: #333;
    font-weight: 200px;
  }