.box {
    margin-top: 1rem;
    background-color: #fff;
    width: 1000px;
    height: 260px;
    margin: auto;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img {
    margin-top: 1rem;
    border-radius: 50%;
}

h1 {
    margin-top: 20px;
}
